version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
    time: "06:00"
  open-pull-requests-limit: 99
  reviewers:
  - mkllr888
  - rschlaefli
  versioning-strategy: increase
