.teamInfo {
  margin: auto;
  width: 90%;
}

.leaderPhoto {
  max-height: 225px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
}

.teamDescription {
  min-height: 14rem;
  font-size: 1.3rem;
  text-align: justify;
}
