.teamInfo {
  margin: auto;
  width: 90%;
}

.leaderPhoto {
  width: 200px;
  margin: auto;
  margin-top: 2rem;

  img {
    border-radius: 5px;
  }
}

.teamDescription {
  min-height: 14rem;
  font-size: 1.3rem;
  text-align: justify;
}
