/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'flat';
@reset       : 'flat';

/* Elements */
@button      : 'flat';
@container   : 'flat';
@divider     : 'flat';
@flag        : 'flat';
@header      : 'flat';
@icon        : 'flat';
@image       : 'flat';
@input       : 'flat';
@label       : 'flat';
@list        : 'flat';
@loader      : 'flat';
@placeholder : 'flat';
@rail        : 'flat';
@reveal      : 'flat';
@segment     : 'flat';
@step        : 'flat';

/* Collections */
@breadcrumb  : 'flat';
@form        : 'flat';
@grid        : 'flat';
@menu        : 'flat';
@message     : 'flat';
@table       : 'flat';

/* Modules */
@accordion   : 'flat';
@checkbox    : 'flat';
@dimmer      : 'flat';
@dropdown    : 'flat';
@embed       : 'flat';
@modal       : 'flat';
@nag         : 'flat';
@popup       : 'flat';
@progress    : 'flat';
@rating      : 'flat';
@search      : 'flat';
@shape       : 'flat';
@sidebar     : 'flat';
@sticky      : 'flat';
@tab         : 'flat';
@transition  : 'flat';

/* Views */
@ad          : 'flat';
@card        : 'flat';
@comment     : 'flat';
@feed        : 'flat';
@item        : 'flat';
@statistic   : 'flat';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : '../../src/semantic/site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "~semantic-ui-less/theme.less";

@fontPath : "../assets/fonts";

/* End Config */
