.teamInfo {
  margin: auto;
  width: 90%;
}

.leaderPhoto {
  max-height: 250px;
  margin: auto;
  margin-top: 20px;
  width: '90%';
  border-radius: 2px;
}

.leaderPosition {
  margin-top: -10;
  margin-bottom: 10;
  min-height: 28;
}

.teamDescription {
  font-size: 1.5em;
}
