/*
* BurgerMenu stuff
*/

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  @media only screen and (max-width: 767px) {
    .ui.stackable.grid:not(.vertically) > .row {
      padding: 0.33em !important;
    }
  }

  body {
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #a89f39;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.burgerMenuUnderlay {
  position: fixed;
  top: 28px;
  left: 28px;
  width: 53px;
  height: 46px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
  border-radius: 0px;
}

.ui.vertical.segment {
  padding: 5em 0 6em 0;
}

.projectDescription {
  padding: 0px 10%;
  background: rgba(0, 0, 63, 0.1);
  width: 100% !important;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  th.mobile.hidden,
  td.mobile.hidden {
    display: none !important;
  }
}
